<template>
  <div class="basket">
    <logo/>
    <customer-navigation/>

    <div v-if="isEmpty">
      <div class="emptyBasketMessage">Vaša korpa je trenutno prazna</div>
    </div>
    <div v-else>
      <page-title title="Sadržaj vaše korpe"/>

      <table class="basketTable">
        <tr class="basketTableHeader">
          <th>Proizvod:</th>
          <th>&nbsp;</th>
          <th>Količina:</th>
          <th>Ukupno:</th>
        </tr>
        <tr class="basketTableRow" v-for="(i, index) in myBasket.items" :key="i.productId">
          <td class="basketTableCell">
            <router-link :to="'/kupac/proizvod/'+i.productId">
              <img class="basketProductImage" :src="'/img/product'+i.productId+'.png'" width="200px" :alt="'/img/product'+i.productId+'.png'">
            </router-link>
          </td>
          <td class="basketTableCell">
            <div>{{ myProducts[index].name }}</div>
            <div>{{ myProducts[index].price }} din</div>
          </td>
          <td class="basketTableCell">
            <button @click="decrementQuantity(index)" class="quantityButton">-</button>
            {{ i.quantity }}
            <button @click="incrementQuantity(index)" class="quantityButton">+</button>
          </td>
          <td class="basketTableCell">
            {{ i.quantity * myProducts[index].price }}
          </td>
        </tr>
        <tr class="basketTableFooter">
          <td colspan="2">
            Ukupan iznos narudžbine:
          </td>
          <td>
            {{ calcSum() }}
          </td>
          <td>
            <button @click="activateOrderWindow" class="orderButton">Naruči</button>
          </td>
        </tr>
      </table>
    </div>

    <modal name="orderModal">
      <div>
        <table>
          <tr>
            <td colspan="2">
              <div class="orderModalText">
                Da li ste sigurni da želite da izvršite narudžbinu?
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <button @click="cancelOrder" class="orderButton">Odustani</button>
            </td>
            <td>
              <button @click="order" class="orderButton">Potvrdi</button>
            </td>
          </tr>
        </table>
      </div>
    </modal>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import CustomerNavigation from "@/components/CustomerNavigation";
import PageTitle from "@/components/PageTitle";
import moment from 'moment';

export default {
  name: "Basket",
  components: {PageTitle, CustomerNavigation, Logo},
  mounted() {
    this.$root.$emit('body-background', 2);
    if (localStorage.getItem('user') == null) {
      this.$router.back();
    } else {
      this.myUser = JSON.parse(localStorage.getItem('user'));

      const myBaskets = JSON.parse(localStorage.getItem('baskets'));
      this.myBasket = myBaskets.find(basket => (basket.username === this.myUser.username));
      if (this.myBasket != null) {
        this.isEmpty = false;

        this.myProducts = JSON.parse(localStorage.getItem('products'));

        var temp = [];
        this.myBasket.items.forEach(i => temp.push(this.myProducts.find(p => p.id === i.productId)));
        this.myProducts = temp;
      }
    }
  },
  data() {
    return {
      myUser: {},
      myProducts: [],
      isEmpty: true,
      myBasket: {}
    }
  },
  methods: {
    calcSum: function () {
      var sum = 0;
      for (var i = 0; i < this.myBasket.items.length; i++) {
        sum += (this.myBasket.items[i].quantity * this.myProducts[i].price);
      }
      return sum;
    },
    activateOrderWindow() {
      this.$modal.show('orderModal');
    },
    cancelOrder() {
      this.$modal.hide('orderModal');
    },
    order() {
      var allBaskets = JSON.parse(localStorage.getItem('baskets'));
      allBaskets = allBaskets.filter(basket => (basket.username !== this.myUser.username));

      var nextOrderID = JSON.parse(localStorage.getItem('nextOrderId'));
      var order = {
        'id': nextOrderID,
        'username': this.myUser.username,
        'date': moment(new Date()).format('DD.MM.YYYY. HH:mm'),
        'price': this.calcSum(),
        'items': this.myBasket.items,
        'status': 0
      };

      nextOrderID++;
      localStorage.setItem('nextOrderId', JSON.stringify(nextOrderID));
      var orders = JSON.parse(localStorage.getItem('orders'));
      orders.push(order);
      localStorage.setItem('orders', JSON.stringify(orders));

      this.myBasket = {};
      this.isEmpty = true;
      localStorage.setItem('baskets', JSON.stringify(allBaskets));
      this.$modal.hide('orderModal');
      this.$notify({
        group: 'foo',
        title: 'Obaveštenje',
        text: 'Narudžbina je uspešno izvršena.'
      });
    },
    decrementQuantity(index) {
      var allBaskets = JSON.parse(localStorage.getItem('baskets'));
      var myBask = allBaskets.find(basket => (basket.username === this.myUser.username));

      if (this.myBasket.items[index].quantity > 1) {
        this.myBasket.items[index].quantity--;


        var myItem = myBask.items[index];
        myItem.quantity = parseInt(myItem.quantity) - 1;

        localStorage.setItem('baskets', JSON.stringify(allBaskets));
      } else {
        this.myBasket.items.splice(index, 1);
        this.myProducts.splice(index, 1);
        myBask.items.splice(index, 1);

        if (this.myBasket.items.length === 0) {
          allBaskets = allBaskets.filter(b => (b.username !== this.myUser.username));
          this.myBasket = {};
          this.isEmpty = true;
        }

        localStorage.setItem('baskets', JSON.stringify(allBaskets));
      }
    },
    incrementQuantity(index) {
      this.myBasket.items[index].quantity++;

      var allBaskets = JSON.parse(localStorage.getItem('baskets'));
      var myBask = allBaskets.find(basket => (basket.username === this.myUser.username));

      var myItem = myBask.items[index];
      myItem.quantity = parseInt(myItem.quantity) + 1;

      localStorage.setItem('baskets', JSON.stringify(allBaskets));
    }
  }
}
</script>

<style>
.basketTable {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-size: 22px;
  width: 88%;
}

.basketTableRow {
  border-left: white;
  border-right: white;
  border-top: #cccccc;
  border-bottom: #cccccc;
  border-width: 2px;
  border-style: solid;
}

.basketTableHeader {
  border-left: white;
  border-right: white;
  border-top: white;
  border-bottom: #999999 !important;
  border-width: 2px;
  border-style: solid !important;
}

.basketTableFooter {
  border-left: white;
  border-right: white;
  border-top: #999999 !important;
  border-bottom: white;
  border-width: 2px;
  border-style: solid !important;
  font-size: 25px;
}

.orderButton {
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quantityButton {
  width: 40px;
  font-size: 25px;
  border-width: 1px;
  border-color: black;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.basketProductImage {
  margin-top: 10px;
  margin-bottom: 10px;
}

.basketTableCell {
  width: 25%;
}

.emptyBasketMessage {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  max-width: 800px;
}

.vm--modal {
  max-width: 400px !important;
  height: auto !important;
  margin: auto !important;
  left: 0 !important;
  font-size: 30px;
  padding: 40px 20px;
}

.orderModalText {
  padding-bottom: 40px;
  max-width: 400px;
}
</style>