<template>
  <div class="customer">
    <logo/>
    <customer-navigation/>
    <page-title :title="'Zdravo, '+myUser.username+'!'" class="customerWelcomeTitle"/>
    <div class="customerWelcomeText">Pogledajte našu najnoviju ponudu i uživajte u najraznovrsnijim ukusima meda klikom
      na
      <router-link to="/kupac/proizvodi">link</router-link>!
    </div>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import CustomerNavigation from "@/components/CustomerNavigation";
import PageTitle from "@/components/PageTitle";

export default {
  name: "Customer",
  components: {PageTitle, Logo, CustomerNavigation},
  mounted() {
    this.$root.$emit('body-background', 2);
    if (localStorage.getItem('user') == null) {
      this.$router.back();
    } else {
      this.myUser = JSON.parse(localStorage.getItem('user'));
    }
  },
  data() {
    return {
      myUser: {}
    }
  }
}
</script>

<style>
.customerWelcomeTitle {
  margin-top: 100px;
}

.customerWelcomeText {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  max-width: 800px;
}
</style>