<template>
  <div class="customerChangePassword">
    <logo/>
    <customer-navigation/>
    <page-title title="Izmena lozinke"/>

    <change-password-form/>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import CustomerNavigation from "@/components/CustomerNavigation";
import PageTitle from "@/components/PageTitle";
import ChangePasswordForm from "@/components/ChangePasswordForm";

export default {
  name: "CustomerChangePassword",
  components: {ChangePasswordForm, PageTitle, CustomerNavigation, Logo}
}
</script>

<style>

</style>