<template>
  <div class="customerProfile">
    <logo/>
    <customer-navigation/>
    <page-title title="Pregled profila"/>

    <profile-info/>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import CustomerNavigation from "@/components/CustomerNavigation";
import ProfileInfo from "@/components/ProfileInfo";
import PageTitle from "@/components/PageTitle";

export default {
  name: "CustomerProfile",
  components: {PageTitle, ProfileInfo, CustomerNavigation, Logo}
}
</script>

<style>

</style>