<template>
  <div class="customerChangeProfile">
    <logo/>
    <customer-navigation/>
    <page-title title="Izmena podataka"/>

    <change-profile-form/>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import CustomerNavigation from "@/components/CustomerNavigation";
import PageTitle from "@/components/PageTitle";
import ChangeProfileForm from "@/components/ChangeProfileForm";

export default {
  name: "CustomerChangeProfile",
  components: {ChangeProfileForm, PageTitle, CustomerNavigation, Logo}
}
</script>

<style>

</style>