<template>
  <div class="login">
    <div>
      <br/>
      <br/>
      <logo/>
      <br/>
      <br/>
      <br/>

      <div class="col-sm-10">
        <login-form/>
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm from "@/components/LoginForm";
import Logo from "@/components/Logo";

export default {
  name: "Login",
  components: {Logo, LoginForm},
  mounted() {
    this.$root.$emit('body-background', 1);
    localStorage.removeItem('user');
  }
}
</script>

<style>
.login {
  display: flex !important;
  justify-content: center !important;
  margin: 0 !important;
}
</style>