<template>
  <div class="newProduct">
    <logo/>
    <salesman-navigation/>
    <page-title title="Dodajte novi proizvod"/>

    <new-product-form/>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import SalesmanNavigation from "@/components/SalesmanNavigation";
import PageTitle from "@/components/PageTitle";
import NewProductForm from "@/components/NewProductForm";

export default {
  name: "NewProduct",
  components: {NewProductForm, PageTitle, SalesmanNavigation, Logo}
}
</script>

<style>

</style>