<template>
  <div class="orders">
    <logo/>
    <salesman-navigation/>

    <div v-if="isEmpty">
      <div class="emptyOrdersMessage">Nemate neobrađenih narudžbina</div>
    </div>
    <div v-else>
      <page-title title="Pregled neobrađenih narudžbina"/>

      <table class="ordersTable">
        <tr class="ordersTableHeader">
          <th>Korisničko ime naručioca:</th>
          <th>Datum i vreme:</th>
          <th>Ukupno:</th>
          <th>&nbsp;</th>
        </tr>
        <tr class="ordersTableRow" v-for="o in myOrders" :key="o.id">
          <td class="ordersTableCell">
            {{ o.username }}
          </td>
          <td class="ordersTableCell">
            {{ o.date }}
          </td>
          <td class="ordersTableCell">
            {{ o.price }} din
          </td>
          <td class="ordersTableCell">
            <router-link :to="'/prodavac/narudzbina/'+o.id">
              <button class="processButton">Obradi</button>
            </router-link>
          </td>
        </tr>
        <tr class="ordersTableFooter">
          <td/>
          <td/>
          <td/>
          <td/>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import SalesmanNavigation from "@/components/SalesmanNavigation";
import PageTitle from "@/components/PageTitle";

export default {
  name: "Orders",
  components: {PageTitle, SalesmanNavigation, Logo},
  mounted() {
    this.$root.$emit('body-background', 2);
    if (localStorage.getItem('user') == null) {
      this.$router.back();
    } else {
      this.myUser = JSON.parse(localStorage.getItem('user'));

      this.myOrders = JSON.parse(localStorage.getItem('orders'));
      this.myOrders = this.myOrders.filter(o => (o.status == 0));
      if (this.myOrders.length > 0) {
        this.isEmpty = false;
      }
    }
  },
  data() {
    return {
      myUser: {},
      myOrders: [],
      isEmpty: true
    }
  }
}
</script>

<style>
.ordersTable {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-size: 22px;
  width: 88%;
}

.ordersTableRow {
  border-left: white;
  border-right: white;
  border-top: #cccccc;
  border-bottom: #cccccc;
  border-width: 2px;
  border-style: solid;
}

.ordersTableHeader {
  border-left: white;
  border-right: white;
  border-top: white;
  border-bottom: #999999 !important;
  border-width: 2px;
  border-style: solid !important;
}

.ordersTableFooter {
  border-left: white;
  border-right: white;
  border-top: #999999 !important;
  border-bottom: white;
  border-width: 2px;
  border-style: solid !important;
  font-size: 25px;
}

.processButton {
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ordersTableCell {
  width: 25%;
}

.emptyOrdersMessage {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  max-width: 800px;
}

</style>