<template>
  <div class="orderDetails">
    <logo/>
    <salesman-navigation/>
    <page-title :title="'Obrada narudžbine br. '+myOrder.id+''"/>

    <div class="info">
      <table>
        <tr>
          <td class="leftColumn">Korisničko ime naručioca:</td>
          <td class="rightColumn">{{ myCustomer.username }}</td>
        </tr>
        <tr>
          <td class="leftColumn">Datum i vreme naručivanja:</td>
          <td class="rightColumn">{{ myOrder.date }}</td>
        </tr>
        <tr>
          <td class="leftColumn">Ukupna cena narudžbine:</td>
          <td class="rightColumn">{{ myOrder.price }} din</td>
        </tr>
        <tr>
          <td colspan="4" class="infoTitle">Podaci o naručiocu</td>
        </tr>
        <tr>
          <td class="leftColumn">Ime i prezime:</td>
          <td class="rightColumn">{{ myCustomer.name }} {{ myCustomer.surname }}</td>
        </tr>
        <tr>
          <td class="leftColumn">Kontakt telefon:</td>
          <td class="rightColumn">{{ myCustomer.phoneNumber }}</td>
        </tr>
        <tr>
          <td class="leftColumn">Adresa:</td>
          <td class="rightColumn">{{ myCustomer.address }}</td>
        </tr>
        <tr>
          <td colspan="4" class="infoTitle">Sadržaj korpe</td>
        </tr>
      </table>
    </div>

    <table class="orderTable">
      <tr class="orderTableHeader">
        <th>Proizvod:</th>
        <th>&nbsp;</th>
        <th>Količina:</th>
        <th>Ukupno:</th>
      </tr>
      <tr class="orderTableRow" v-for="(i, index) in myOrder.items" :key="i.productId">
        <td class="orderTableCell">
          <img class="orderProductImage" :src="'/img/product'+i.productId+'.png'" width="200px" :alt="'/img/product'+i.productId+'.png'">
        </td>
        <td class="orderTableCell">
          <div>{{ myProducts[index].name }}</div>
          <div>{{ myProducts[index].price }} din</div>
        </td>
        <td class="orderTableCell">
          {{ i.quantity }}
        </td>
        <td class="orderTableCell">
          {{ i.quantity * myProducts[index].price }}
        </td>
      </tr>
      <tr class="orderTableFooter">
        <td/>
        <td colspan="2">
          Ukupan iznos narudžbine:
        </td>
        <td>
          {{ myOrder.price }}
        </td>
      </tr>
      <tr>
        <td/>
        <td>
          <button @click="activateAcceptWindow" class="processButton">Prihvati</button>
        </td>
        <td>
          <button @click="activateRejectWindow" class="processButton">Odbij</button>
        </td>
        <td/>
      </tr>
    </table>

    <modal name="acceptModal">
      <div>
        <table>
          <tr>
            <td colspan="2">
              <div class="processModalText">
                Da li ste sigurni da želite da prihvatite narudžbinu?
              </div>
            </td>
          </tr>
          <tr>
            <td class="leftColumnDays">Dani:</td>
            <td class="rightColumnDays">
              <input type="number" v-model="days" min="1" class="daysInputField">
            </td>
          </tr>
          <tr>
            <td>
              <button @click="cancelAccept" class="processButton">Odustani</button>
            </td>
            <td>
              <button @click="accept" class="processButton">Potvrdi</button>
            </td>
          </tr>
        </table>
      </div>
    </modal>

    <modal name="rejectModal">
      <div>
        <table>
          <tr>
            <td colspan="2">
              <div class="processModalText">
                Da li ste sigurni da želite da odbijete narudžbinu?
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <button @click="cancelReject" class="processButton">Odustani</button>
            </td>
            <td>
              <button @click="reject" class="processButton">Potvrdi</button>
            </td>
          </tr>
        </table>
      </div>
    </modal>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import SalesmanNavigation from "@/components/SalesmanNavigation";
import PageTitle from "@/components/PageTitle";

export default {
  name: "OrderDetails",
  components: {PageTitle, SalesmanNavigation, Logo},
  mounted() {
    this.$root.$emit('body-background', 2);
    if (localStorage.getItem('user') == null) {
      this.$router.back();
    } else {
      this.myUser = JSON.parse(localStorage.getItem('user'));

      const myOrders = JSON.parse(localStorage.getItem('orders'));

      const id = Number(this.$route.params.id);
      this.myOrder = myOrders.find(order => (order.id === id));

      const myUsers = JSON.parse(localStorage.getItem('users'));
      this.myCustomer = myUsers.find(u => (u.username === this.myOrder.username));

      this.myProducts = JSON.parse(localStorage.getItem('products'));

      var temp = [];
      this.myOrder.items.forEach(i => temp.push(this.myProducts.find(p => p.id === i.productId)));
      this.myProducts = temp;
    }
  },
  data() {
    return {
      myUser: {},
      myOrder: {},
      myProducts: [],
      myCustomer: {},
      days: 5
    }
  },
  methods: {
    activateAcceptWindow() {
      this.$modal.show('acceptModal');
    },
    cancelAccept() {
      this.$modal.hide('acceptModal');
    },
    accept() {
      if ((this.days == '') || (isNaN(this.days)) || (this.days.toString().indexOf('.') != -1) || (this.days == 0)){
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Nevalidan broj dana.',
          type: 'error'
        });
        return;
      }
      var myOrders = JSON.parse(localStorage.getItem('orders'));
      var ord = myOrders.find(o => (o.id === this.myOrder.id));
      ord.status = 1;

      localStorage.setItem('orders', JSON.stringify(myOrders));
      this.$modal.hide('acceptModal');

      this.$router.replace('/prodavac/narudzbine');
      this.$notify({
        group: 'foo',
        title: 'Obaveštenje',
        text: 'Narudžbina je prihvaćena.'
      });
    },
    activateRejectWindow() {
      this.$modal.show('rejectModal');
    },
    cancelReject() {
      this.$modal.hide('rejectModal');
    },
    reject() {
      var myOrders = JSON.parse(localStorage.getItem('orders'));
      var ord = myOrders.find(o => (o.id === this.myOrder.id));
      ord.status = 2;

      localStorage.setItem('orders', JSON.stringify(myOrders));
      this.$modal.hide('rejectModal');

      this.$router.replace('/prodavac/narudzbine');
      this.$notify({
        group: 'foo',
        title: 'Obaveštenje',
        text: 'Narudžbina je odbijena.'
      });
    }
  }
}
</script>

<style scoped>
.info {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.infoTitle {
  padding-top: 35px !important;
  font-size: 32px;
  color: #aa6a6b;
}

.leftColumn {
  text-align: right;
  padding-right: 40px;
  padding-top: 15px;
}

.rightColumn {
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
}

.orderTable {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-size: 22px;
  width: 88%;
}

.orderTableRow {
  border-left: white;
  border-right: white;
  border-top: #cccccc;
  border-bottom: #cccccc;
  border-width: 2px;
  border-style: solid;
}

.orderTableHeader {
  border-left: white;
  border-right: white;
  border-top: white;
  border-bottom: #999999 !important;
  border-width: 2px;
  border-style: solid !important;
}

.orderTableFooter {
  border-left: white;
  border-right: white;
  border-top: #999999 !important;
  border-bottom: white;
  border-width: 2px;
  border-style: solid !important;
  font-size: 25px;
}

.processButton {
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.orderProductImage {
  margin-top: 10px;
  margin-bottom: 10px;
}

.orderTableCell {
  width: 25%;
}

.processModalText {
  padding-bottom: 40px;
  max-width: 400px;
}

.daysInputField {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
}

.leftColumnDays{
  text-align: right;
  font-size: 23px;
  padding-right: 15px;
}

.rightColumnDays{
  text-align: left;
  padding-left: 15px;
}

.daysInputField::-webkit-inner-spin-button,
.daysInputField::-webkit-outer-spin-button {
  opacity: 1;
}
</style>