<template>
  <div class="products">
    <logo/>
    <customer-navigation/>
    <page-title title="Naši proizvodi"/>

    <div class="row">
      <div class="col-sm-3" v-for="p in myProducts" :key="p.id">
        <product :product="p"/>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import CustomerNavigation from "@/components/CustomerNavigation";
import PageTitle from "@/components/PageTitle";
import Product from "@/components/Product";

export default {
  name: "Products",
  components: {Product, PageTitle, CustomerNavigation, Logo},
  mounted() {
    this.$root.$emit('body-background', 2);
    if (localStorage.getItem('user') == null) {
      this.$router.back();
    } else {
      this.myUser = JSON.parse(localStorage.getItem('user'));

      this.myProducts = JSON.parse(localStorage.getItem('products'));
    }
  },
  data() {
    return {
      myUser: {},
      myProducts: []
    }
  }
}
</script>

<style>
.row {
  margin: 0 !important;
}
</style>