<template>
  <div class="productDetails">
    <logo/>
    <customer-navigation/>

    <div>
      <table class="productDetailsTable">
        <tr>
          <td rowspan="6"><img class="productDetailsImage" :src="'/img/product'+myProduct.id+'.png'" :alt="'/img/product'+myProduct.id+'.png'"></td>
          <td class="rightColumnProductDetailsTable productDetailsName">{{ myProduct.name }}</td>
        </tr>
        <tr>
          <td class="rightColumnProductDetailsTable productDetailsPrice">{{ myProduct.price }} din</td>
        </tr>
        <tr>
          <td class="rightColumnProductDetailsTable">{{ myProduct.description }}</td>
        </tr>
        <tr>
          <td class="rightColumnProductDetailsTable">Jedna tegla sadrži {{ myProduct.weight }} grama meda.</td>
        </tr>
        <tr>
          <td class="rightColumnProductDetailsTable">{{ myProduct.usage }}</td>
        </tr>
        <tr>
          <td class="productDetailsQuantity">
            Količina:

            <input type="number" v-model="quantity" min="1" class="quantityInputField">
            <button @click="addToBasket" class="addButton">Dodajte u korpu</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import CustomerNavigation from "@/components/CustomerNavigation";

export default {
  name: "ProductDetails",
  components: {CustomerNavigation, Logo},
  mounted() {
    this.$root.$emit('body-background', 2);
    if (localStorage.getItem('user') == null) {
      this.$router.back();
    } else {
      this.myUser = JSON.parse(localStorage.getItem('user'));

      const myProducts = JSON.parse(localStorage.getItem('products'));

      const id = Number(this.$route.params.id);
      this.myProduct = myProducts.find(product => (product.id === id));
    }
  },
  data() {
    return {
      myUser: {},
      myProduct: {},
      quantity: 1
    }
  },
  methods: {
    addToBasket() {
      if ((this.quantity == '') || (isNaN(this.quantity)) || (this.quantity.toString().indexOf('.') != -1) || (this.quantity == 0)){
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Nevalidna količina.',
          type: 'error'
        });
        return;
      }

      var myBaskets = JSON.parse(localStorage.getItem('baskets'));

      var myBasket = myBaskets.find(basket => (basket.username === this.myUser.username));
      if (myBasket == null) {
        var myItems = [];
        myItems.push({'productId': this.myProduct.id, 'quantity': parseInt(this.quantity)});
        myBasket = {'username': this.myUser.username, 'items': myItems};
        myBaskets.push(myBasket);
      } else {
        var myItem = myBasket.items.find(item => (item.productId === this.myProduct.id));
        if (myItem == null) {
          myBasket.items.push({'productId': this.myProduct.id, 'quantity': parseInt(this.quantity)});
        } else {
          myItem.quantity += parseInt(this.quantity);
        }
      }

      localStorage.setItem('baskets', JSON.stringify(myBaskets));
      this.$notify({
        group: 'foo',
        title: 'Obaveštenje',
        text: 'Artikal je uspešno dodat u korpu.',
        type: 'success'
      });
    }
  }
}
</script>

<style>
.productDetailsTable {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
}

.rightColumnProductDetailsTable {
  max-width: 300px;
  font-size: 19px;
}

.productDetailsName {
  color: #aa6a6b;
  font-size: 35px;
}

.productDetailsPrice {
  color: #aa6a6b;
  font-size: 24px;
}

.productDetailsQuantity {
  font-size: 20px;
}

.productDetailsImage {
  max-width: 500px;
  margin-right: 50px;
}

img {
  border: 1px solid black !important;
}

.addButton {
  width: 185px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
}

.quantityInputField {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
  margin-right: 20px;
  margin-left: 20px;
}

.quantityInputField::-webkit-inner-spin-button,
.quantityInputField::-webkit-outer-spin-button {
  opacity: 1;
}
</style>