<template>
  <div class="salesmanChangeProfile">
    <logo/>
    <salesman-navigation/>
    <page-title title="Izmena podataka"/>

    <change-profile-form/>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import SalesmanNavigation from "@/components/SalesmanNavigation";
import PageTitle from "@/components/PageTitle";
import ChangeProfileForm from "@/components/ChangeProfileForm";

export default {
  name: "SalesmanChangeProfile",
  components: {ChangeProfileForm, PageTitle, SalesmanNavigation, Logo}
}
</script>

<style>

</style>