<template>
  <div class="salesmanProfile">
    <logo/>
    <salesman-navigation/>
    <page-title title="Pregled profila"/>

    <profile-info/>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import SalesmanNavigation from "@/components/SalesmanNavigation";
import PageTitle from "@/components/PageTitle";
import ProfileInfo from "@/components/ProfileInfo";

export default {
  name: "SalesmanProfile",
  components: {ProfileInfo, PageTitle, SalesmanNavigation, Logo}
}
</script>

<style>

</style>