<template>
  <div class="salesmanChangePassword">
    <logo/>
    <salesman-navigation/>
    <page-title title="Izmena lozinke"/>

    <change-password-form/>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import SalesmanNavigation from "@/components/SalesmanNavigation";
import PageTitle from "@/components/PageTitle";
import ChangePasswordForm from "@/components/ChangePasswordForm";

export default {
  name: "SalesmanChangePassword",
  components: {ChangePasswordForm, PageTitle, SalesmanNavigation, Logo}
}
</script>

<style>

</style>