<template>
  <div class="salesman">
    <logo/>
    <salesman-navigation/>
    <page-title :title="'Zdravo, '+myUser.username+'!'" class="salesmanWelcomeTitle"/>
    <div class="salesmanWelcomeText">Proverite da li ima novopristiglih narudžbina klikom na
      <router-link to="/prodavac/narudzbine">link</router-link>!
    </div>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import PageTitle from "@/components/PageTitle";
import SalesmanNavigation from "@/components/SalesmanNavigation";

export default {
  name: "Salesman",
  components: {SalesmanNavigation, PageTitle, Logo},
  mounted() {
    this.$root.$emit('body-background', 2);
    if (localStorage.getItem('user') == null) {
      this.$router.back();
    } else {
      this.myUser = JSON.parse(localStorage.getItem('user'));
    }
  },
  data() {
    return {
      myUser: {}
    }
  }
}
</script>

<style>
.salesmanWelcomeTitle {
  margin-top: 100px;
}

.salesmanWelcomeText {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  max-width: 500px;
}
</style>