<template>
  <div id="app">
    <router-view/>
    <notifications group="foo"/>
  </div>
</template>

<script>
export default {
  name: 'App',
  mounted() {
    if (localStorage.getItem('user') == null) {
      document.body.style.background = `url(${require('@/assets/login_web.jpg')}) no-repeat top center`;
      document.body.style.backgroundSize = 'cover';
    } else {
      document.body.style.background = `url(${require('@/assets/menu_web.jpg')}) no-repeat top center`;
      document.body.style.backgroundSize = '1600px';
    }
    this.$root.$on('body-background', function (temp) {
      if (temp == 1) {
        document.body.style.background = `url(${require('@/assets/login_web.jpg')}) no-repeat top center`;
        document.body.style.backgroundSize = 'cover';
      } else {
        document.body.style.background = `url(${require('@/assets/menu_web.jpg')}) no-repeat top center`;
        document.body.style.backgroundSize = '1600px';
      }
    });
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  font-style: italic;
  margin-top: 35px;
}
</style>
