<template>
  <div class="changeProfileForm">
    <table>
      <tr>
        <td class="leftColumn">Ime:</td>
        <td class="rightColumn"><input type="text" v-model="name" class="inputField"></td>
      </tr>
      <tr>
        <td class="leftColumn">Prezime:</td>
        <td class="rightColumn"><input type="text" v-model="surname" class="inputField"></td>
      </tr>
      <tr>
        <td class="leftColumn">Kontakt telefon:</td>
        <td class="rightColumn"><input type="number" v-model="phoneNumber" class="inputField"></td>
      </tr>
      <tr>
        <td class="leftColumn">Adresa:</td>
        <td class="rightColumn"><input type="text" v-model="address" class="inputField"></td>
      </tr>
      <tr>
        <td class="leftColumnButton">
          <button @click="goToProfile" class="button">Nazad</button>
        </td>
        <td class="rightColumnButton">
          <button @click="changeProfile" class="button">Potvrda</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: "ChangeProfileForm",
  mounted() {
    this.$root.$emit('body-background', 2);
    if (localStorage.getItem('user') == null) {
      this.$router.back();
    } else {
      this.myUser = JSON.parse(localStorage.getItem('user'));
      this.name = this.myUser.name;
      this.surname = this.myUser.surname;
      this.phoneNumber = this.myUser.phoneNumber;
      this.address = this.myUser.address;
    }
  },
  data() {
    return {
      myUser: {},
      name: '',
      surname: '',
      phoneNumber: '',
      address: ''
    }
  },
  methods: {
    goToProfile() {
      if (this.myUser.type === 0) {
        this.$router.replace('/kupac/profil');
      } else if (this.myUser.type === 1) {
        this.$router.replace('/prodavac/profil');
      }
    },
    changeProfile() {
      var isOK = true;
      if ((this.name == '') || (this.surname == '') || (this.phoneNumber == '') || (this.address == '')) {
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Morate uneti neophodne podatke.',
          type: 'error'
        });
        isOK = false;
      }
      if ((isNaN(this.phoneNumber)) || (this.phoneNumber.toString().indexOf('.') != -1) || (this.phoneNumber == 0)) {
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Nevalidan broj telefona.',
          type: 'error'
        });
        isOK = false;
      }
      if (!isOK) {
        return;
      }

      this.myUser.name = this.name;
      this.myUser.surname = this.surname;
      this.myUser.phoneNumber = this.phoneNumber;
      this.myUser.address = this.address;

      var myUsers = JSON.parse(localStorage.getItem('users'));
      myUsers[this.myUser.id] = this.myUser;

      localStorage.setItem('user', JSON.stringify(this.myUser));
      localStorage.setItem('users', JSON.stringify(myUsers));
      this.$notify({
        group: 'foo',
        title: 'Obaveštenje',
        text: 'Lični podaci su uspešno promenjeni.',
        type: 'success'
      });
    }
  }
}
</script>

<style scoped>
.changeProfileForm {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.button {
  width: 185px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
  margin-top: 35px;
}

.leftColumn {
  text-align: right;
  padding-right: 40px;
  padding-top: 15px;
}

.rightColumn {
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
}

.leftColumnButton {
  padding-right: 15px;
}

.rightColumnButton {
  padding-left: 15px;
}

.inputField {
  width: 185px;
  height: 40px;
  font-size: 25px;
  border-width: 1px;
  border-color: black;
}
</style>