<template>
  <div class="changePasswordForm">
    <table>
      <tr>
        <td class="leftColumn">Stara lozinka:</td>
        <td class="rightColumn"><input type="password" v-model="oldPass" class="inputField"></td>
      </tr>
      <tr>
        <td class="leftColumn">Nova lozinka:</td>
        <td class="rightColumn"><input type="password" v-model="newPass" class="inputField"></td>
      </tr>
      <tr>
        <td class="leftColumn">Potvrda lozinke:</td>
        <td class="rightColumn"><input type="password" v-model="newPass2" class="inputField"></td>
      </tr>
      <tr>
        <td class="leftColumnButton">
          <button @click="goToProfile" class="button">Nazad</button>
        </td>
        <td class="rightColumnButton">
          <button @click="changePassword" class="button">Potvrda</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: "ChangePasswordForm",
  mounted() {
    this.$root.$emit('body-background', 2);
    if (localStorage.getItem('user') == null) {
      this.$router.back();
    } else {
      this.myUser = JSON.parse(localStorage.getItem('user'));
    }
  },
  data() {
    return {
      myUser: {},
      oldPass: '',
      newPass: '',
      newPass2: ''
    }
  },
  methods: {
    goToProfile() {
      if (this.myUser.type === 0) {
        this.$router.replace('/kupac/profil');
      } else if (this.myUser.type === 1) {
        this.$router.replace('/prodavac/profil');
      }
    },
    changePassword() {
      var isOK = true;
      if (this.oldPass == '') {
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Morate uneti staru lozinku.',
          type: 'error'
        });
        isOK = false;
      } else if (this.myUser.password !== this.oldPass) {
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Loše ste uneli staru lozinku.',
          type: 'error'
        });
        isOK = false;
      }
      if (this.newPass == '') {
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Morate uneti novu lozinku.',
          type: 'error'
        });
        isOK = false;
      } else if (this.newPass !== this.newPass2) {
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Unete lozinke se ne poklapaju.',
          type: 'error'
        });
        isOK = false;
      }

      if (!isOK) {
        return;
      }

      this.myUser.password = this.newPass;

      var myUsers = JSON.parse(localStorage.getItem('users'));
      myUsers[this.myUser.id] = this.myUser;

      localStorage.setItem('user', JSON.stringify(this.myUser));
      localStorage.setItem('users', JSON.stringify(myUsers));
      this.$notify({
        group: 'foo',
        title: 'Obaveštenje',
        text: 'Lozinka je uspešno promenjena.',
        type: 'success'
      });
    }
  }
}
</script>

<style scoped>
.changePasswordForm {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.button {
  width: 185px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
  margin-top: 35px;
}

.leftColumn {
  text-align: right;
  padding-right: 40px;
  padding-top: 15px;
}

.rightColumn {
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
}

.leftColumnButton {
  padding-right: 15px;
}

.rightColumnButton {
  padding-left: 15px;
}

.inputField {
  width: 185px;
  height: 40px;
  font-size: 25px;
  border-width: 1px;
  border-color: black;
}
</style>