<template>
  <div class="customerNavigation">
    <nav class="navbar container">
      <router-link to="/kupac/profil">profil</router-link>
      <router-link to="/kupac/proizvodi">proizvodi</router-link>
      <router-link to="/kupac/korpa">korpa</router-link>
      <router-link to="/">odjava</router-link>
    </nav>
  </div>
</template>

<script>
export default {
  name: "CustomerNavigation"
}
</script>

<style>
.customerNavigation {
  background-color: #fda417;
  border: 1px solid black;
}

.customerNavigation a {
  color: white !important;
  font-style: italic;
  font-size: 35px;
}
</style>