<template>
  <div class="loginForm">
    <h3 class="title-welcome">Dobrodošli!</h3>
    <input type="text" placeholder="Korisničko ime" v-model="username" class="loginInputField">
    <input type="password" placeholder="Lozinka" v-model="password" class="loginInputField">
    <button @click="loginUser" class="loginButton">Prijavite se!</button>
  </div>
</template>

<script>
import users from "@/data/users";
import products from "@/data/products";
import baskets from "@/data/baskets";
import orders from "@/data/orders";
import unusedImages from "@/data/unusedImages";

export default {
  name: "LoginForm",
  data() {
    return {
      username: '',
      password: '',
      myUsers: users,
      myProducts: products,
      myBaskets: baskets,
      myOrders: orders,
      myUnusedImages: unusedImages
    }
  },
  methods: {
    loginUser() {
      if (localStorage.getItem('users') == null) {
        localStorage.setItem('users', JSON.stringify(this.myUsers));
      } else {
        this.myUsers = JSON.parse(localStorage.getItem('users'));
      }

      const user = this.myUsers.find(user => (user.username === this.username) && (user.password === this.password));
      if (user == null) {
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Neispravni podaci.',
          type: 'error'
        });
        return;
      }
      if (localStorage.getItem('products') == null) {
        localStorage.setItem('products', JSON.stringify(this.myProducts));
      }

      if (localStorage.getItem('baskets') == null) {
        localStorage.setItem('baskets', JSON.stringify(this.myBaskets));
      }

      if (localStorage.getItem('nextOrderId') == null) {
        localStorage.setItem('nextOrderId', JSON.stringify(2));
      }

      if (localStorage.getItem('orders') == null) {
        localStorage.setItem('orders', JSON.stringify(this.myOrders));
      }

      if (localStorage.getItem('unusedImages') == null) {
        localStorage.setItem('unusedImages', JSON.stringify(this.myUnusedImages));
      }

      localStorage.setItem('user', JSON.stringify(user));
      if (user.type === 0) {
        this.$router.push('kupac');
      } else if (user.type === 1) {
        this.$router.push('prodavac');
      }
    }
  }
}
</script>

<style>
.loginForm {
  background-color: white;
  color: black;
  font-size: 32px;
  width: 330px;
  height: 330px;
  padding-top: 50px;
  margin: 0 85px;
}

.title-welcome {
  padding-bottom: 30px;
}

.loginInputField {
  margin-bottom: 10px;
  width: 230px;
  height: 40px;
  font-size: 25px;
  border-width: 1px;
  border-color: black;
}

.loginButton {
  width: 125px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
}
</style>