<template>
  <div class="title">
    <router-link :to="''+home+''" class="router-link-home">
      <h2 class="title-part1">pčelarska kuća</h2>
      <h1 class="title-part2">MEDENJACI</h1>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Logo",
  mounted() {
    if (localStorage.getItem('user') != null) {
      this.myUser = JSON.parse(localStorage.getItem('user'));
    }

    if (this.myUser == null) {
      this.home = '/';
    } else if (this.myUser.type === 0) {
      this.home = '/kupac';
    } else if (this.myUser.type === 1) {
      this.home = '/prodavac';
    }
  },
  data() {
    return {
      myUser: {},
      home: '/'
    }
  }
}
</script>

<style>
.title {
  width: 500px;
  display: inline-block;
  background-color: #fda417;
}

.title-part1 {
  color: white;
  text-align: left;
  font-size: 40px;
  margin: 0;
}

.title-part2 {
  color: white;
  font-size: 70px;
  margin: 0;
}

.router-link-home:hover {
  text-decoration: none;
}
</style>