<template>
  <div class="newProductForm">
    <br/> <br/>
    <table>
      <tr>
        <td class="leftColumn">Naziv:</td>
        <td class="rightColumn"><input type="text" v-model="productName" class="inputField"></td>
      </tr>
      <tr>
        <td class="leftColumn">Cena:</td>
        <td class="rightColumn textAddition"><input type="number" v-model="productPrice" class="numberInputField"> din
        </td>
      </tr>
      <tr>
        <td class="leftColumn">Opis:</td>
        <td class="textRightColumn"><textarea type="text" v-model="productDescription" class="textInputField"/></td>
      </tr>
      <tr>
        <td class="leftColumn">Gramaža:</td>
        <td class="rightColumn textAddition"><input type="number" v-model="productWeight" class="numberInputField"> g
        </td>
      </tr>
      <tr>
        <td class="leftColumn">Način korišćenja:</td>
        <td class="textRightColumn"><textarea type="text" v-model="productUsage" class="textInputField"/></td>
      </tr>
      <tr>
        <td class="leftColumn">Slika:</td>
        <td class="rightColumn">
          <button @click="activateChooseImageWindow" class="chooseImageButton">Izaberite sliku</button>
          <label class="nameOfChosenImage" v-if="isImageChosen">Slika{{ productImage }}.png</label>
        </td>
      </tr>
      <tr class="newProductTableFooter">
        <td/>
        <td class="rightColumnButton">
          <button @click="activateAddProductWindow" class="button">Dodaj</button>
        </td>
      </tr>
    </table>

    <modal name="chooseImageModal">
      <div v-if="myUnusedImages.length == 0">
        Trenutno nema dostupnih slika
      </div>
      <div v-else class="imageOuterDiv">
        <div class="imageOption" v-for="i in myUnusedImages" :key="i.id">
          <button @click="chooseImage(i.id)" class="optionImageButton"><img :src="'/img/product'+i.id+'.png'"
                                                                            width="160px"
                                                                            :alt="'/img/product'+i.id+'.png'">
          </button>
        </div>
      </div>
    </modal>

    <modal name="addProductModal">
      <div>
        <table>
          <tr>
            <td colspan="2">
              <div class="addProductModalText">
                Da li ste sigurni da želite da dodate novi proizvod?
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <button @click="cancelNewProduct" class="orderButton">Odustani</button>
            </td>
            <td>
              <button @click="addProduct" class="orderButton">Potvrdi</button>
            </td>
          </tr>
        </table>
      </div>
    </modal>
  </div>
</template>

<script>
export default {
  name: "NewProductForm",
  mounted() {
    this.$root.$emit('body-background', 2);
    if (localStorage.getItem('user') == null) {
      this.$router.back();
    } else {
      this.myUser = JSON.parse(localStorage.getItem('user'));
    }
  },
  data() {
    return {
      myUser: {},
      productName: '',
      productPrice: '',
      productDescription: '',
      productWeight: '',
      productUsage: '',
      productImage: '',
      myUnusedImages: [],
      isImageChosen: false
    }
  },
  methods: {
    activateChooseImageWindow() {
      this.myUnusedImages = JSON.parse(localStorage.getItem('unusedImages'));
      this.$modal.show('chooseImageModal');
    },
    chooseImage(id) {
      this.productImage = id;
      this.isImageChosen = true;
      this.$modal.hide('chooseImageModal');
    },
    activateAddProductWindow() {
      var isOK = true;
      if ((this.productName == '') || (this.productPrice == '') || (this.productDescription == '') ||
          (this.productWeight == '') || (this.productUsage == '') || (this.productImage == '')) {
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Niste uneli neophodne podatke.',
          type: 'error'
        });
        isOK = false;
      }
      if ((isNaN(this.productPrice)) || (this.productPrice.toString().indexOf('.') != -1) || (this.productPrice == 0)) {
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Nevalidna cena.',
          type: 'error'
        });
        isOK = false;
      }
      if ((isNaN(this.productWeight)) || (this.productWeight.toString().indexOf('.') != -1) || (this.productWeight == 0)) {
        this.$notify({
          group: 'foo',
          title: 'Greška',
          text: 'Nevalidna gramaža.',
          type: 'error'
        });
        isOK = false;
      }
      if (!isOK) {
        return;
      }
      this.$modal.show('addProductModal');
    },
    cancelNewProduct() {
      this.$modal.hide('addProductModal');
    },
    addProduct() {
      var allProducts = JSON.parse(localStorage.getItem('products'));
      allProducts.push({
        id: parseInt(this.productImage),
        name: this.productName,
        price: parseInt(this.productPrice),
        description: this.productDescription,
        weight: parseInt(this.productWeight),
        usage: this.productUsage
      });
      this.myUnusedImages = this.myUnusedImages.filter(i => (i.id !== this.productImage));
      localStorage.setItem('unusedImages', JSON.stringify(this.myUnusedImages));
      localStorage.setItem('products', JSON.stringify(allProducts));

      this.productName = '';
      this.productPrice = '';
      this.productDescription = '';
      this.productWeight = '';
      this.productUsage = '';
      this.productImage = '';
      this.$modal.hide('addProductModal');
      this.$notify({
        group: 'foo',
        title: 'Obaveštenje',
        text: 'Proizvod je uspešno dodat.',
        type: 'success'
      });
    }
  }
}
</script>

<style scoped>
.newProductForm {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.button {
  width: 185px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
  margin-bottom: 20px;
}

.chooseImageButton {
  width: 185px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
}

.leftColumn {
  text-align: right;
  padding-right: 40px;
  padding-bottom: 10px;
}

.rightColumn {
  text-align: left;
  padding-left: 15px;
  padding-bottom: 10px;
}

.textRightColumn {
  text-align: left;
  padding-left: 15px;
}

.rightColumnButton {
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}

.inputField {
  width: 185px;
  height: 40px;
  font-size: 25px;
  border-width: 1px;
  border-color: black;
}

.numberInputField {
  width: 100px;
  height: 40px;
  font-size: 25px;
  border-width: 1px;
  border-color: black;
}

.textInputField {
  width: 350px;
  height: 100px;
  font-size: 25px;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 0;
  resize: none;
}

.newProductTableFooter {
  border-left: white;
  border-right: white;
  border-top: #999999 !important;
  border-bottom: white;
  border-width: 2px;
  border-style: solid !important;
}

.imageOption {
  margin: 10px;
}

.imageOuterDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.optionImageButton {
  background-color: transparent;
  border: none;
  padding: 0;
}

.nameOfChosenImage {
  padding-left: 20px;
  font-size: 22px;
}

.addProductModalText {
  padding-bottom: 40px;
  max-width: 400px;
}

.textAddition {
  color: #aa6a6b;
}
</style>