<template>
  <h3 class="pageTitle">{{ title }}</h3>
</template>

<script>
export default {
  name: "PageTitle",
  props: [
    'title'
  ]
}
</script>

<style>
.pageTitle {
  color: #fda417;
  font-size: 40px;
  margin-top: 20px;
  padding-bottom: 10px;
}
</style>