<template>
  <div class="product">
    <router-link :to="'/kupac/proizvod/'+product.id">
      <img :src="'/img/product'+product.id+'.png'" width="200px" :alt="'/img/product'+product.id+'.png'">
    </router-link>
    <div class="productName">{{ product.name }}</div>
    <div class="productPrice">{{ product.price }} din</div>
  </div>
</template>

<script>
export default {
  name: "Product",
  props: [
    'product'
  ]
}
</script>

<style>
.product {
  padding-top: 20px;
  padding-bottom: 20px;
}

.productName {
  color: #aa6a6b;
  font-size: 20px;
}

.productPrice {
  color: #aa6a6b;
  font-size: 22px;
}
</style>