<template>
  <div class="profileInfo">
    <table>
      <tr>
        <td class="leftColumn">Ime:</td>
        <td class="rightColumn">{{ myUser.name }}</td>
      </tr>
      <tr>
        <td class="leftColumn">Prezime:</td>
        <td class="rightColumn">{{ myUser.surname }}</td>
      </tr>
      <tr>
        <td class="leftColumn">Kontakt telefon:</td>
        <td class="rightColumn">{{ myUser.phoneNumber }}</td>
      </tr>
      <tr>
        <td class="leftColumn">Adresa:</td>
        <td class="rightColumn">{{ myUser.address }}</td>
      </tr>
      <tr>
        <td class="leftColumnButton">
          <button @click="goToChangeProfile" class="button">Promenite podatke</button>
        </td>
        <td class="rightColumnButton">
          <button @click="goToChangePassword" class="button">Promenite lozinku</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: "ProfileInfo",
  mounted() {
    this.$root.$emit('body-background', 2);
    if (localStorage.getItem('user') == null) {
      this.$router.back();
    } else {
      this.myUser = JSON.parse(localStorage.getItem('user'));
    }
  },
  data() {
    return {
      myUser: {}
    }
  },
  methods: {
    goToChangeProfile() {
      if (this.myUser.type === 0) {
        this.$router.replace('/kupac/izmenapodataka');
      } else if (this.myUser.type === 1) {
        this.$router.replace('/prodavac/izmenapodataka');
      }
    },
    goToChangePassword() {
      if (this.myUser.type === 0) {
        this.$router.replace('/kupac/izmenalozinke');
      } else if (this.myUser.type === 1) {
        this.$router.replace('/prodavac/izmenalozinke');
      }
    }
  }
}
</script>

<style scoped>
.profileInfo {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.button {
  width: 185px;
  height: 40px;
  font-size: 20px;
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
  margin-top: 35px;
}

.leftColumn {
  text-align: right;
  padding-right: 40px;
  padding-top: 15px;
}

.rightColumn {
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
}

.leftColumnButton {
  padding-right: 15px;
}

.rightColumnButton {
  padding-left: 15px;
}
</style>