<template>
  <div class="salesmanNavigation">
    <nav class="navbar container">
      <router-link to="/prodavac/profil">profil</router-link>
      <router-link to="/prodavac/narudzbine">narudžbine</router-link>
      <router-link to="/prodavac/noviproizvod">novi proizvod</router-link>
      <router-link to="/">odjava</router-link>
    </nav>
  </div>
</template>

<script>
export default {
  name: "SalesmanNavigation"
}
</script>

<style>
.salesmanNavigation {
  background-color: #fda417;
  border: 1px solid black;
}

.salesmanNavigation a {
  color: white !important;
  font-style: italic;
  font-size: 35px;
}
</style>